@{
    ViewData["Title"] = "Home Page";
}

<h1>
    @ViewBag.Disciplina  @ViewBag.Nome
</h1>

<div class="text-center"><br />
    <br />
    <br />
    <br />
    <br />
     <br />
    <br />
    <br />
    <br />
    <h1 class="display-4" style="font-family:'Times New Roman', Times, serif">UBERVENTS</h1>
    <p> <a href=""></a></p>
</div>
